{{> adminheader}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Accept request for type of client change</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {{#each users}}
    <div class="row">
        <div class="col-xs-12">
            <form id="acceptUser{{idUser}}" action="/admin/acceptUser/{{idUser}}/{{clientType}}" method="POST">
                <div class="row">
                    <div class="col-xs-6">
                        <h5 style="overflow:hidden;">id: {{idUser}}, description: {{username}}</h5>
                    </div>
                    <div class="col-xs-5">
                        <h5>Changing from:{{clientTypeOld}} to {{clientType}}</h5>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-default" type="submit" value="Approve">Approve</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/each}}
</div>
<!-- /#page-wrapper -->

{{> adminfooter}}