{{> adminheader}}
<div id="page-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Approve Payment of Orders</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {{#each orders}}
    <div class="row">
        <div class="col-xs-12">
            <form id="acceptPayment{{idEncomenda}}" action="/admin/acceptPayment/{{idEncomenda}}" method="POST">
                <div class="row">
                    <div class="col-xs-6">
                        <h5 style="overflow:hidden;">Number Of Document: {{NumDoc}}, Client Code: {{CodClient}}, Serie: {{Serie}}</h5>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-default" type="submit" value="Approve Payment">Approve Payment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/each}}
</div>

{{> adminfooter}}