{{> topbar}}

<head>
	<link rel="stylesheet" type="text/css" href="/css/payment.css">
    <script src="/js/payment.js"></script>
</head>

	<ul class="breadcrumb" id="checkoutBreadcrumb">
		<li><a href="#" onclick="addressBox();return false;" >Endereço</a></li>
		<li><a href="#" onclick="shipmentBox();return false;">Entrega</a></li>
		<li><a href="#" onclick="paymentBox();return false;">Pagamento</a></li>
		<li><a href="#" onclick="confirmationBox();return false;">Confirmação</a></li>
	</ul>

    <div id="confirmationBox" class="container" hidden>
        <form id="confirmationForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="list-group">
                    {{#each cart}}
                      <a href="#" class="list-group-item">{{quantidade}} x {{Description}}: {{Price}}€</a>
                    {{/each}}
                    </div>
                    <p>Preço total: {{total}}€</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6 col-xs-offset-2">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <button onclick="confirmPayment(); return false;">Confirmar</button>
                </div>
            </div>
        </form>
    </div>

    <div id="shipmentBox" class="container" hidden>
        <form id="shipmentForm">
            <div class="row">
                <div class="col-xs-12">
                    <p><col></col> Entrega: </p>
                    {{#each expWay}}
                    <input type="radio" name="ship" value="{{ExpeditionCode}}"> <strong>{{ExpeditionDescription}}</strong>
                    <br>
                    {{/each}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6 col-xs-offset-2">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <button onclick="paymentBox(); return false;">Próximo</button>
                </div>
            </div>
        </form>
    </div>

	<div id="paymentBox" class="container" hidden>
		<form id="creditCardForm">
			<div class="row">
				<div class="col-xs-3 scrollable">
                    <p><col></col> Tipo de Pagamento: </p>
                    {{#each payType}}
					<input type="radio" name="ptype" value="{{PaymentTypeCode}}">  {{PaymentTypeDescription}}
                    {{/each}}
                </div>
				<div class="col-xs-9 scrollable">
                    <p><col></col> Modo de Pagamento: </p>
                    {{#each payWay}}
					<input type="radio" name="pway" value="{{PaymentWayCode}}">  {{PaymentWayDescription}}
                    {{/each}}
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<button onclick="confirmationBox(); return false;">Próximo</button>
				</div>
			</div>
		</form>
	</div>

    <div id="addressBox" class="container">
		<form id="addressForm">
			<div class="row">
				<div class="col-xs-12">
                    <p>Endereço: </p>
                    <input type="radio" name="address" value="{{userData.Address}}">{{userData.Address}}<br><br>
                    {{#if_not_eq userData.Adress2 ''}}
                    <input type="radio" name="address" value="{{userData.Address2}}">{{userData.Address2}}
                    {{/if_not_eq}}
				</div>
			</div>
			<br>
            <br>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<button onclick="shipmentBox(); return false;">Próximo</button>
				</div>
			</div>
		</form>
	</div>

{{> footer}}