{{> topbar}}

<head>
	<link rel="stylesheet" type="text/css" href="/css/payment.css">
    <script src="/js/payment.js"></script>
</head>

	<ul class="breadcrumb" id="checkoutBreadcrumb">
		<li><a href="#" onclick="addressBox();return false;" >Address</a></li>
		<li><a href="#" onclick="shipmentBox();return false;">Shipment</a></li>
		<li><a href="#" onclick="paymentBox();return false;">Payment</a></li>
		<li><a href="#" onclick="confirmationBox();return false;">Confirmation</a></li>
	</ul>

    <div id="confirmationBox" class="container" hidden>
        <form id="confirmationForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="list-group">
                    {{#each cart}}
                      <a href="#" class="list-group-item">{{quantidade}} x {{Description}}: {{Price}}€</a>
                    {{/each}}
                    <a href="#" class="list-group-item" id="shipmentOptionConfirm">CTT Económico: 0.0$</a>
                    </div>
                    <p>Final Price is: {{total}}€</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6 col-xs-offset-2">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <button onclick="confirmPayment(); return false;">Confirm</button>
                </div>
            </div>
        </form>
    </div>

    <div id="shipmentBox" class="container" hidden>
        <form id="shipmentForm">
            <div class="row">
                <div class="col-xs-12">
                    <p><col></col> Name: </p>
                    <input type="radio" name="ship" value="{{userData.ExpeditionWay}}"> {{userData.ExpeditionWay}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-6 col-xs-offset-2">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <button onclick="paymentBox(); return false;">Next</button>
                </div>
            </div>
        </form>
    </div>

	<div id="paymentBox" class="container" hidden>
		<form id="creditCardForm">
			<div class="row">
				<div class="col-xs-12">
					<p>Payment Type: {{userData.PaymentType}} </p>
                </div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<p>Payment way: {{userData.PaymentWay}} </p>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<button onclick="confirmationBox(); return false;">Next</button>
				</div>
			</div>
		</form>
	</div>

    <div id="addressBox" class="container">
		<form id="addressForm">
			<div class="row">
				<div class="col-xs-12">
                    <p>Address: </p>
                    <input type="radio" name="address" value="{{userData.Adress}}">{{userData.Adress}}<br><br>
                    {{#if_not_eq userData.Adress2 ''}}
                    <input type="radio" name="address" value="{{userData.Adress2}}">{{userData.Adress2}}
                    {{/if_not_eq}}
				</div>
			</div>
			<br>
            <br>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<button onclick="shipmentBox(); return false;">Next</button>
				</div>
			</div>
		</form>
	</div>

{{> footer}}