{{> topbar}}

<head>
	<link rel="stylesheet" type="text/css" href="/css/product.css">
</head>

	<div class="container">
		<div class="row">
			<img src="/images/{{product.Imagem}}" alt="product image" class="col-xs-3">
			<div id="productDetails" class="col-xs-5 col-xs-offset-1">
				<div id="nameQuantity" class="row">
					
					<h1 class="col-xs-9">{{product.Description}}</h1>
					{{#if_less product.STKActual 0}}
						<span class="col-xs-3">No stock</span>
					{{else}}
						<span class="col-xs-3">Quantity: {{product.STKActual}}</span>
					{{/if_less}}
				</div>
				<div id="categoryRating" class="row">
					{{#if typeOne}}
						<span class="col-xs-6">Preco: {{product.Prices.PVP1}}€</span>
					{{/if}}
					{{#if typeTwo}}
						<span class="col-xs-6">Preco: {{product.Prices.PVP2}}€</span>
					{{/if}}
					{{#if typeThree}}
						<span class="col-xs-6">Preco: {{product.Prices.PVP3}}€</span>
					{{/if}}
					{{#if typeFour}}
						<span class="col-xs-6">Preco: {{product.Prices.PVP4}}€</span>
					{{/if}}
					{{#if typeFive}}
						<span class="col-xs-6">Preco: {{product.Prices.PVP5}}€</span>
					{{/if}}
					{{#if typeSix}}
						<span class="col-xs-6">Preco: {{product.Prices.PVP6}}€</span>
					{{/if}}
				</div>
				<br>
				<div id="categoryRating" class="row">
					<span class="col-xs-6">Categoria: {{product.Family}}</span>
					<span class="col-xs-6">Sub-Categoria: {{product.SubFamily}}</span>
				</div>
				<br>
				<div id="categoryRating" class="row">
					<span class="col-xs-6">Garantia: {{product.Warranty}}</span>
					<span class="col-xs-6">Tempo de Entrega: {{product.DeliveryTime}}</span>
				</div>
				<br>
				<div id="productText" class="col-xs-12">
					Texto sobre as informações do produto
					Texto sobre as informações do produto
					Texto sobre as informações do produto
					Texto sobre as informações do produto
					Texto sobre as informações do produto
					Texto sobre as informações do produto
					Texto sobre as informações do produto.
				</div>
			</div>
			<button class="col-xs-2 col-xs-offset-1">Add to Cart</button>
		</div>
		<div class="row comment">
			<div class="col-xs-2 commentInfo">
				<div class="row commentName">João</div>
				<div class="row">13/11/2016</div>
				<div class="row">*****</div>
			</div>
			<div class="col-xs-8">
				Texto aleatorio por aqui fora referente ao comentario do João.
			</div>
		</div>
		<div class="row comment">
			<div class="col-xs-2 commentInfo">
				<div class="row commentName">Joaquina</div>
				<div class="row">14/11/2016</div>
				<div class="row">*****</div>
			</div>
			<div class="col-xs-8">
				<span>
				Texto aleatorio por aqui fora referente ao comentario da Joaquina aaaaaaaaaaaaaaaaaaaaaaaaa
				aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
				aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaavvvvvvvvvvvvvvvvvvvvvvvvvv
				</span>
			</div>
		</div>
	</div>
{{> footer}}
