{{> topbar}}

<head>
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>

<div class="container">
	<div class="row">
		<div id="userPhoto" class="col-xs-3">
			<img id="userPhotoImg" src="/images/user.png" alt="user photo">
			<br>
			<br>
			<button type="button" onclick="editProfile(); return false;" class="btn btn-warning btn-lg center">Edit Profile</button>
		</div>
		
		<div id="userInfo" class="col-xs-8 col-xs-offset-1">
			<div class="row completeRow">
				<p>Client Name:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.NameClient}}</div>
					<div class="col-xs-3"><button id="editClientNameButton">Edit</button></div>
					<div class="row">
						<form id="editClientName" hidden>
							<input class="cancro" id="nameClient" type="text" name="nameClient" placeholder="Client Name">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Fiscal Name:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.FiscalName}}</div>
					<div class="col-xs-3"><button id="editFiscalNameButton">Edit</button></div>
					<div class="row">
						<form id="editFiscalName" hidden>
							<input class="cancro" id="fiscalName" type="text" name="fiscalName" placeholder="Fiscal Name">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Client Type:</p>
				<div class="row">
					<div class="col-xs-9">{{cType}}</div>
					<div class="col-xs-3"><button id="editClientTypeButton">Edit</button></div>
					<div class="row">
						<form id="editClientType" hidden>
							<select class="cancro" name="clientType" id="clientType">
								{{#each clientTypes}}
									<option value="{{Code}}">{{Description}}</option> <!-- ALTERAR -->
								{{/each}}
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Email:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.Email}}</div>
					<div class="col-xs-3"><button id="editEmailButton">Edit</button></div>
					<div class="row">
						<form id="editEmail" hidden>
							<input class="cancro" id="email" type="text" name="email" placeholder="E-mail">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Password:</p>
				<div class="row">
					<div class="col-xs-9">********</div>
					<div class="col-xs-3"><button id="editPasswordButton">Edit</button></div>
					<div class="row">
						<form id="editPassword" hidden>
							<input class="cancro" id="password" type="text" name="password" placeholder="Old Password">
							<input class="cancro" id="newPassword" type="text" name="newPassword" placeholder="New Password">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Country:</p>
				<div class="row">
					<div class="col-xs-9">{{country}}</div>
					<div class="col-xs-3"><button id="editCountryButton">Edit</button></div>
					<div class="row">
						<form id="editCountry" hidden>
							<select class="cancro" name="country" id="country">
								{{#each countries}}
									{{#if_eq Initials Selected}}
										<option value="{{Initials}}" selected>{{Name}}</option>
									{{/if_eq}}
									{{#if_eq "" Selected}}
										<option value="{{Initials}}">{{Name}}</option>
									{{/if_eq}}
								{{/each}}
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Address:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.Address}}</div>
					<div class="col-xs-3"><button id="editAddressButton">Edit</button></div>
					<div class="row">
						<form id="editAddress" hidden>
							<input class="cancro" id="address" type="text" name="address" placeholder="Address">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Address 2:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.Address2}}</div>
					<div class="col-xs-3"><button id="editAddress2Button">Edit</button></div>
					<div class="row">
						<form id="editAddress2" hidden>
							<input class="cancro" id="address2" type="text" name="address2" placeholder="Address 2">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>District:</p>
				<div class="row">
					<div class="col-xs-9">{{district}}</div>
					<div class="col-xs-3"><button id="editDistrictButton">Edit</button></div>
					<div class="row">
						<form id="editDistrict" hidden>
							<select class="cancro" name="district" id="district">
								{{#each districts}}
									<option value="{{DistrictCode}}">{{Description}}</option>
								{{/each}}
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Local:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.Local}}</div>
					<div class="col-xs-3"><button id="editLocalButton">Edit</button></div>
					<div class="row">
						<form id="editLocal" hidden>
							<input class="cancro" id="local" type="text" name="local" placeholder="Local">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Zip Code:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.PostCode}}</div>
					<div class="col-xs-3"><button id="editPostalCodeButton">Edit</button></div>
					<div class="row">
						<form id="editPostalCode" hidden>
							<input class="cancro" id="postalCode" type="text" name="postalCode" placeholder="Zip Code">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Payment Type:</p>
				<div class="row">
					<div class="col-xs-9">{{pType}}</div>
					<div class="col-xs-3"><button id="editPaymentTypeButton">Edit</button></div>
					<div class="row">
						<form id="editPaymentType" hidden>
							<select class="cancro" name="paymentType" id="paymentType">
								{{#each paymentTypes}}
									{{#if_eq PaymentTypeCode Selected}}
										<option value="{{PaymentTypeCode}}" selected>{{PaymentTypeDescription}}</option>
									{{/if_eq}}
									{{#if_eq "" Selected}}
										<option value="{{PaymentTypeCode}}">{{PaymentTypeDescription}}</option>
									{{/if_eq}}
								{{/each}}
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Payment Way:</p>
				<div class="row">
					<div class="col-xs-9">{{pWay}}</div>
					<div class="col-xs-3"><button id="editPaymentWayButton">Edit</button></div>
					<div class="row">
						<form id="editPaymentWay" hidden>
							<select class="cancro" name="paymentWay" id="paymentWay">
								{{#each paymentWays}}
									{{#if_eq PaymentWayCode Selected}}
										<option value="{{PaymentWayCode}}" selected>{{PaymentWayDescription}}</option>
									{{/if_eq}}
									{{#if_eq "" Selected}}
										<option value="{{PaymentWayCode}}">{{PaymentWayDescription}}</option>
									{{/if_eq}}
								{{/each}}
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Expedition Way:</p>
				<div class="row">
					<div class="col-xs-9">{{eWay}}</div>
					<div class="col-xs-3"><button id="editExpeditionWayButton">Edit</button></div>
					<div class="row">
						<form id="editExpeditionWay" hidden>
							<select class="cancro" name="expeditionWay" id="expeditionWay">
								{{#each expeditionWay}}
									{{#if_eq ExpeditionCode Selected}}
										<option value="{{ExpeditionCode}}" selected>{{ExpeditionDescription}}</option>
									{{/if_eq}}
									{{#if_eq "" Selected}}
										<option value="{{ExpeditionCode}}">{{ExpeditionDescription}}</option>
									{{/if_eq}}
								{{/each}}
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Phone:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.Phone}}</div>
					<div class="col-xs-3"><button id="editPhoneButton">Edit</button></div>
					<div class="row">
						<form id="editPhone" hidden>
							<input class="cancro" id="phone" type="text" name="phone" placeholder="Phone Number">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>Phone 2:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.Phone2}}</div>
					<div class="col-xs-3"><button id="editPhone2Button">Edit</button></div>
					<div class="row">
						<form id="editPhone2" hidden>
							<input class="cancro" id="phone2" type="text" name="phone2" placeholder="Phone Number 2">
						</form>
					</div>
				</div>
			</div>
			<div class="row completeRow">
				<p>TaxPay Number:</p>
				<div class="row">
					<div class="col-xs-9">{{profile.TaxpayNumber}}</div>
					<div class="col-xs-3"><button id="editTaxpayNumberButton">Edit</button></div>
					<div class="row">
						<form id="editTaxpayNumber" hidden>
							<input class="cancro" id="taxpayNumber" type="text" name="taxpayNumber" placeholder="TaxPay Number">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
		</div>
		<div class=" col-xs-8 col-xs-offset-1 ">
			<br>
			<br>
			<button onclick="window.location = /order/">See Your Orders</button>
			<!-- VER ORDERS -->
		</div>
	</div>
</div>
{{> footer}}